:root {
    --text-color:#d8d4cf;
}

* {
    margin:0;
    padding:0;
    font-family:Roboto,Helvetica Neue,Arial,sans-serif;
    box-sizing: border-box;
    /*
    outline: #8ab4f8 1px solid;
    outline-offset: -1px;
    */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

html {
    color-scheme: dark;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    padding: 20px;
}

main {
    flex:1;
    justify-content:center;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;

}

footer {
    padding: 20px;
    text-align: center;
    color: #8ab4f8;
}

.grid-container {
    flex: 1 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    padding: 20px;
    gap:10px;
}

.history-container {
    flex: 1 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    gap:10px;
    min-height: 300px;
    text-overflow: clip;
    overflow: hidden;
    text-overflow: ellipsis;
}

.history-container div {
    border: #3c4043 1px solid;
    width: 100%;
    font-size: 25px;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
    text-overflow: clip;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: end;
}

.history-container div:hover {
    border:#8ab4f8 2px solid;

}

.screen {
    grid-area: 1 / 1 / 2 / 5;
    height:100px;
    border-radius: 8px;
    border: 1px solid #3c4043;
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    text-align: end;
}

.screen1 {
    grid-row: 1 / 1;
    text-overflow: clip;
    overflow: hidden;
    text-overflow: ellipsis;
}

.screen2 {
    grid-row: 2 / 2;
    font-size: 32px;
    overflow: hidden;
    text-align: end;
    text-overflow: ellipsis;
}

.light {
    background-color: #5f6368;
    color: #e8eaed;
}

.equal {
    background-color: rgb(138, 180, 248);
    color: #202124;
    font-weight: bold;
}

button {
    padding: 10px;
    font-size: 15px;
    background-color: #3c4043;
    color: #e8eaed;
    border: 1px solid #3c4043;
    border-radius: 4px;
    transition:0.3s;
}
button:hover {
    border: #8ab4f8 1px solid;
}
.pressed {
    border: #8ab4f8 1px solid;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}