:root {
    --text-color:#d8d4cf;
}

* {
    margin:0;
    padding:0;
    font-family:Roboto,Helvetica Neue,Arial,sans-serif;
    box-sizing: border-box;
    /*
    outline: #8ab4f8 1px solid;
    outline-offset: -1px;
    */
}

html {
    color-scheme: dark;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    padding: 20px;
}

main {
    flex:1;
    justify-content:center;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

footer {
    padding: 20px;
    text-align: center;
    color: #8ab4f8;
}

.grid-container {
    flex: 1 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    padding: 20px;
    gap:10px;
}

.screen {
    grid-area: 1 / 1 / 2 / 5;
    height:100px;
    border-radius: 8px;
    border: 1px solid #3c4043;
    display:grid;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.screen1 {
    grid-row: 1 / 1;
}

.screen2 {
    grid-row: 2 / 2;
    font-size: 32px;
}

.light {
    background-color: #5f6368;
    color: #e8eaed;
}

.equal {
    background-color: rgb(138, 180, 248);
    color: #202124;
    font-weight: bold;
}

button {
    padding: 10px;
    font-size: 15px;
    background: #3c4043;
    color: #e8eaed;
    border: 1px solid #3c4043;
    border-radius: 4px;
    transition:0.5s;
}

.pressed {
    border: #8ab4f8 1px solid;
    transform: scale(1.1)
}